html, body, #app{
    height: 100%;
    padding: 0;
    margin: 0;
    min-width: 1400px;
}

.el-step__title{
    font-size: 13px !important;
}

.el-tabs__item{
    height: 60px !important;
}

.ql-editor{
    min-height: 350px !important;
}